#EventTitle{ padding-top:50px;padding-bottom:50px; background:#F8A000;
            text-align:center;
            }

.activity {display:flex; margin-bottom:10px; background: #eee; padding:20px;}

.activity .timetag{min-width:20%; display:fle; align-items:flex-start;}

.activity .detail{min-width:60%;align-items:center;}
.activity .detail .title{font-size:14pt;}
.activity .detail .speaker{font-size:10pt; font-style:italic;}
